
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right,rgb(80, 179, 255),rgb(15, 5, 96));
  padding: 1rem 2rem;
  color:yellow;
}

.logo {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color:rgb(255, 255, 96);
  text-decoration: none;
  font-weight: bolder;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(to right ,rgb(80, 179, 255),rgb(15, 5, 96));
  font: bolder;
  color:rgb(252, 252, 157);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background:rgb(158, 201, 72);
  color:black;
  text-decoration: none;
  border-radius: 20px  2px 20px 2px;
}

.section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background:rgb(172, 217, 252);
  padding: 1rem;
  border-radius: 8px;
  flex: 1 1 30%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 0.75rem;
  background: #ff9900;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #232f3e;
  color: white;
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}


